/Tests/bin/Debug/net5.0
/Tests/obj/Debug/net5.0
/StringEnum/obj/Debug
/StringEnum/bin/Debug
/packages/Newtonsoft.Json.13.0.1
/StringEnum/packages/Newtonsoft.Json.12.0.3
/.vs/StringEnum/v16
/Tests/obj
/.vs/StringEnum/DesignTimeBuild
/StringEnum/obj
/.vs/StringEnum/v17
/.vs/StringEnum
/Tests/bin/Debug/net6.0
/.vs/ProjectEvaluation
/Tests/bin/Debug/net7.0
